.img-1 {
width: 2000;
height: 1000;
} 

.img-2 {
width: 2000;
height: 1000;
}

.img-3 {
width: 2000;
height: 1000;
}

.img-4 {
width: 2000;
height: 1000;
}

.img-5 {
width: 2000;
height: 1000;
}